# Chapter 02. 파이썬의 기본 문법

In [1]:
# 예제 2-1
a  = 20
b = 30
c = a + b
print(c)

50

In [2]:
# 예제 2-2
x = 20
Computer = 'Mac'
Age = 30
my_score = 70
_name = '홍길동'
myBirthYear = 1997
date2 = 20.3

print(x, Computer, Age, my_score, _name, myBirthYear, date2)

20 Mac 30 70 홍길동 1997 20.3

In [3]:
# 예제 2-2
x = 20
computer = 'Mac'
age = 30
my_score = 70
_name = '홍길동'
my_birthYear = 1997
date2 = 20.3

print(x, computer, age, my_score, _name, my_birthYear, date2)

20 Mac 30 70 홍길동 1997 20.3

In [4]:
# 예제 2-4
x = 30
print(x)
print(type(x))

30
<class 'int'>

In [5]:
# 예제 2-5
x = 3.3764
y = 6/2
print(x, y)
print(type(x), type(y))

3.3764 3.0
<class 'float'> <class 'float'>

In [6]:
# ex 2-6
a = 'x'
b = 'I am ok.'
c = "안녕하세요."

print(a)
print(b)
print(c)
print(type(c))

x
I am ok.
안녕하세요.
<class 'str'>

In [7]:
# 2-7
a = 30
print(a)
print(type(a))

b='30'
print(b)
print(type(b))

30
<class 'int'>
30
<class 'str'>

In [8]:
# 2-8
x = 'I am happy!'

print(x)
print(x[0])
print(x[0:3])    # from:to to전까지, 0생략가능
print(x[5:])     # 마지막까지면 to 생략 가능
print(x[-1])
print(x[-3:])
print(x[-4:-2])   # 다른 랭귀지에서는 x[len-1]이런식으로 가능

I am happy!
I
I a
happy!
!
py!
pp

In [9]:
y = '나는 행복합니다.'
print(y[:2])
print(y[3:-1])
start = 3
print(y[start:start+2])

나는
행복합니다
행복

In [11]:
z = '내 강아지 이름은 happy에요.'
print(z[2:5],z[10:15],z[-8:-3])

강아지 happy happy

In [12]:
# ex 2-9
a = True
b = False
print(a)
print(b)

c = 10 > 20
print(c)

print(type(a))

True
False
False
<class 'bool'>

In [15]:
product = 1
sum = 0

for i in range(1,11):
    sum += i
    product *= i

print(sum, product)

55 3628800

In [16]:
# 2-16
a = '쥐 구멍에 볕 들 날 있다.'

b = len(a)

print(b)    # print(len(a))

15

In [17]:
# 2-17
name = '홍지수'
greet = name + '님 안녕하세요!'
print(greet)

홍지수님 안녕하세요!

In [21]:
# 2-18
eng = 80
#result = '영어점수 : ' + eng + '점'    # 문자열 연결시 모두 문자열이여야한다.
#print(result)                          #에러발생
result = result = '영어점수 : ' + str(eng) + '점'
print(result)

영어점수 : 80점

In [22]:
# ex 2-20
name = '김수영'
a = '나는 %s입니다.'%name
print(a)

나는 김수영입니다.

In [23]:
# ex 2-22
year = 2020
month = 3
day = 5

a = '%d-%02d-%02d'%(year,month,day)    # %02d는 3(한글자)이면 03(두글자)으로 표시되도록
print(a)

2020-03-05

In [25]:
# ex 2-23
height = 172.5
a = '키는 %.2f입니다.'%height   # 소수점 이하 2자리
print(a)
a = '키는 %10.2f입니다.'%height  #소수점 앞 10자리, 아래 2자리
print(a)

키는 172.50입니다.
키는     172.50입니다.

In [26]:
#ex 2-24
name = '황예린'
age = 18
eyesight = 1.2

a = '이름 : {}'.format(name)
b = '나이 : {}세'.format(age)
c = '시력 : {}'.format(eyesight)

print(a)
print(b)
print(c)

이름 : 황예린
나이 : 18세
시력 : 1.2

In [39]:
# 표2-4 문자열 메소드 (p79)
x = 'I am happy!'
x.count('am')  #am이 몇번나오는지 -> 1

1

In [31]:
x.find('happy') #시작인덱스 값  -> 5

5

In [32]:
x.upper()

'I AM HAPPY!'

In [33]:
x.lower()

'i am happy!'

In [34]:
x.replace('am', 'was')

'I was happy!'

In [35]:
x.split(' ') #space기준으로 나눔

['I', 'am', 'happy!']

In [38]:
x.isspace()    # '             ' 일때 True 나옴

False

In [41]:
# 2-27
score1 = 80
score2 = 87

sum = score1 + score2
avg = sum/2

print('두 과목 점수 : %d, %d'%(score1,score2))
print('합계 : %d, 평균 : %.2f'%(sum,avg))

두 과목 점수 : 80, 87
합계 : 167, 평균 : 83.50

In [43]:
# sep, end
print('오늘은', end=' ') # end=' '하면 다음줄이 아닌 ' '하고 끝
year=2020
month=5
day=29
print(year,month,day,sep='/', end=' ')
print('입니다')

오늘은 2020/5/29 입니다

In [44]:
# ex 2-31
name = input('이름을 입력하세요 : ')

print('%s님 반갑습니다.'%name)

이름을 입력하세요 : 다인
다인님 반갑습니다.

In [49]:
a = int(input('first number > '))  #int를 붙이지 않으면 3번째줄 a+b에서 문자열 그냥 나열됨!!
b = int(input('second number > '))
print('sum = ',a+b)

first number > 30
second number > 20
sum =  50

In [50]:
inch = float(input('인치(inch)를 입력하세요 : '))
cm = inch * 2.54
print('센티미터 : %.2f'%cm)

인치(inch)를 입력하세요 : 1
센티미터 : 2.54

In [ ]:
"""
여러줄의 주석처리는 이렇게..

"""