# Chapter 4. 반복문

In [1]:
# ex 4-1
for x in range(5):
    print('안녕하세요',x)

안녕하세요 0
안녕하세요 1
안녕하세요 2
안녕하세요 3
안녕하세요 4

In [2]:
# ex 4-2
x = 0
while x < 5:
    print('안녕하세요')
    x += 1

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요

In [3]:
# ex 4-3
sum = 0
for i in range(1,11):
    sum += i
    print('i의 값 %d, 합계 : %d'%(i,sum))

i의 값 1, 합계 : 1
i의 값 2, 합계 : 3
i의 값 3, 합계 : 6
i의 값 4, 합계 : 10
i의 값 5, 합계 : 15
i의 값 6, 합계 : 21
i의 값 7, 합계 : 28
i의 값 8, 합계 : 36
i의 값 9, 합계 : 45
i의 값 10, 합계 : 55

In [4]:
# ex 4-4
for i in range(1,10):
    print(i,end=' ')
print()

for i in range(1,11):
    print(i,end=' ')
print()

for i in range(1,10,2):
    print(i,end=' ')
print()

for i in range(20,0,-2):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10
1 3 5 7 9
20 18 16 14 12 10 8 6 4 2

In [9]:
# ex 4-5
sum = 0
for i in range(1,101):
    if i % 3 == 0:
        print('%d'%i,end=' ')
        sum += i
        
print('\n','-'*50)
print('1~100에서 3의 배수의 합계 : %d'%sum)

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99
 --------------------------------------------------
1~100에서 3의 배수의 합계 : 1683

In [10]:
# ex 4-6
word = input('영어 문장을 입력하세요 : ')

for x in word:
    print(x)

영어 문장을 입력하세요 : I see!
I

s
e
e
!

In [12]:
# ex 4-7
print ('-'*30)
print('   섭씨   화씨')
print('-'*30)

for c in range(-20,31,5):
    f = c*9.0/4.0 + 32.0
    print('%8d %6.1f'%(c,f))
    
print('-'*30)

------------------------------
   섭씨   화씨
------------------------------
     -20  -13.0
     -15   -1.8
     -10    9.5
      -5   20.8
       0   32.0
       5   43.2
      10   54.5
      15   65.8
      20   77.0
      25   88.2
      30   99.5
------------------------------

In [13]:
# Q 4-1
n1 = int(input('시작 수를 입력하세요 : '))
n2 = int(input('끝 수를 입력하세요 : '))

sum = 0 
for i in range(n1,n2+1 ):
    if i%5 != 0:
        sum += i
print('-'*50)
print('%d에서 %d까지 5의 배수가 아닌 수의 합계 : %d'%(n1,n2,sum))

시작 수를 입력하세요 : 100
끝 수를 입력하세요 : 200
--------------------------------------------------
100에서 200까지 5의 배수가 아닌 수의 합계 : 12000

In [14]:
# 4-3
phone = input('하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요 : ')

number =''
for i in range(0,len(phone)):
    if(i == 2):
        number = number + (phone[2]+'-')
    elif(i == 6):
        number = number + (phone[6]+'-')
    else:
        number = number + phone[i]
    
print(number)

하이픈(-)을 뺀 11자리의 휴대폰 번호를 입력하세요 : 01033334444
010-3333-4444

In [18]:
# Q 4-4
print('-'*50)
print('센티미터(cm) 인치(inch) 피트(ft) 야드(yd)')
print('-'*50)

for cm in range (10,201,10):
    inch = cm * 0.393701
    ft = cm * 0.032808
    yd = cm * 0.010936
    print('%8d %10.1f %10.1f %10.1f'%(cm,inch,ft,yd))

print('-'*50)

--------------------------------------------------
센티미터(cm) 인치(inch) 피트(ft) 야드(yd)
--------------------------------------------------
      10        3.9        0.3        0.1
      20        7.9        0.7        0.2
      30       11.8        1.0        0.3
      40       15.7        1.3        0.4
      50       19.7        1.6        0.5
      60       23.6        2.0        0.7
      70       27.6        2.3        0.8
      80       31.5        2.6        0.9
      90       35.4        3.0        1.0
     100       39.4        3.3        1.1
     110       43.3        3.6        1.2
     120       47.2        3.9        1.3
     130       51.2        4.3        1.4
     140       55.1        4.6        1.5
     150       59.1        4.9        1.6
     160       63.0        5.2        1.7
     170       66.9        5.6        1.9
     180       70.9        5.9        2.0
     190       74.8        6.2        2.1
     200       78.7        6.6        2.2
--------------------------------------------------

In [20]:
# Q 4-5
print('-'*40)
print('킬로그램(kg) 파운드(lb) 온스(oz)')
print('-'*40)
for kg in range(10,101,5):
        lb = kg*2.204623
        oz = kg*35.273962
        print('%8d %10.1f %10.1f'%(kg,lb,oz))
        
print('-'*40)

----------------------------------------
킬로그램(kg) 파운드(lb) 온스(oz)
----------------------------------------
      10       22.0      352.7
      15       33.1      529.1
      20       44.1      705.5
      25       55.1      881.8
      30       66.1     1058.2
      35       77.2     1234.6
      40       88.2     1411.0
      45       99.2     1587.3
      50      110.2     1763.7
      55      121.3     1940.1
      60      132.3     2116.4
      65      143.3     2292.8
      70      154.3     2469.2
      75      165.3     2645.5
      80      176.4     2821.9
      85      187.4     2998.3
      90      198.4     3174.7
      95      209.4     3351.0
     100      220.5     3527.4
----------------------------------------

In [22]:
# Q 4-6
number = input('숫자를 입력하세요 : ')
total = 0

for a in number:
    a = int(a)
    if(a % 2 == 1):
        total += 1

print('입력된 숫자 중 홀수의 개수 : %d개'%total)

숫자를 입력하세요 : 3049894
입력된 숫자 중 홀수의 개수 : 3개

In [23]:
# ex 4-9
print('-'*50)

for a in range(2,10):
    for b in range(1,10):
        c = a*b
        print('%d * %d = %d'%(a,b,c))
    print('-'*50)

--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [30]:
# Q 4-7
for i in range(1,11):
    for j in range(1,i+1):   # i까지가 아니라 i+1까지!!!
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [36]:
# 4-8
for i in range(1,11):
    for j in range(1,11-i):
        print(' ',end='')
    for k in range(1,i+1):
        print('*',end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [43]:
# 합이 1000에 가장 가까운 경우는 1에서부터 얼마까지 더한 경우인가?
sum = 0;
count = 1;
while sum < 1000:
    sum += count
    count += 1
print(count,sum-count)

46 989

In [50]:
#중첩에서 break
for i in range(1,6):
    print('i = ',i,':',end=' ')
    for k in range(5):
        if k == i :
            break;  #자신의 for문만 빠져나옴 ->나와서 print()한후 for i in range(1,6)줄로..
        print(k, end=' ')
    print()

i =  1 : 0
i =  2 : 0 1
i =  3 : 0 1 2
i =  4 : 0 1 2 3
i =  5 : 0 1 2 3 4