# Chapter 6. 튜플과 딕셔너리

In [2]:
# ex 6-1
menu = ('coffee','milk','tea','cider')

print(menu)
print(menu[0])
print(menu[2])
print(menu[0:3])

menu[1] = 'cola'

('coffee', 'milk', 'tea', 'cider')
coffee
tea
('coffee', 'milk', 'tea')

TypeError: 'tuple' object does not support item assignment

In [3]:
# ex 6-2
tuple1 = ('apple','banana','cherry')
tuple2 = ('orange','melon','strawberry')
tuple3 = tuple1 + tuple2
print(tuple3)
print(len(tuple3))

for x in tuple1:
    print(x)
    
del tuple1

('apple', 'banana', 'cherry', 'orange', 'melon', 'strawberry')
6
apple
banana
cherry

In [10]:
# Q 6-2
admin_info = ('admin','12345','rubato@naver.com')

id = input('관리자 아이디를 입력하세요 : ')
password = input('관리자 비밀번호를 입력하세요 : ')

if id == admin_info[0] and password == admin_info[1] :
    print('관리자입니다.')
else:
    print('아이디 또는 비밀번호가 잘못 입력되었습니다. ')

관리자 아이디를 입력하세요 : admin
관리자 비밀번호를 입력하세요 : 12345
관리자입니다.

In [7]:
# 표현식 (1, 3, 5, 7, 9)
odds = tuple(range(1,10,2))
print(odds)

(1, 3, 5, 7, 9)

In [8]:
# 표현식 (1, 4, 9, 16, 25)
squares = tuple(i*i for i in range(1,6))
print(squares)

(1, 4, 9, 16, 25)

In [11]:
# 표현식 (1,9,25,49,81)
odd_squares = tuple(i*i for i in range(1,10) if i%2 ==1)
print(odd_squares)

(1, 9, 25, 49, 81)

### Sequence 객체

In [16]:
# 특정 값이 있는지 확인하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)
print(100 not in a)
print(30 not in a)

True
False
True
False

In [17]:
43 in (38, 76, 43, 92, 19)

True

In [18]:
1 in range(10)

True

In [19]:
'P' in 'Hello Python'

True

In [21]:
# 시퀀스 객체 연결하기
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a + b)

[0, 10, 20, 30, 9, 8, 7, 6]

In [25]:
print((1,2,3)+(10,20,30))
print('Hello' + ' ' + 'World!')

(1, 2, 3, 10, 20, 30)
Hello World!

In [26]:
tuple(range(1,10)) + tuple(range(10,20))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [27]:
# 문자열과 숫자 연결
'Python'+str(3)

'Python3'

In [28]:
# 시퀀스 객체 반복하기
print([1,2,3] * 3)
print(3 * [1,2,3])

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
print((1,2,3)*3)
print('python '*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
python python python

In [35]:
#range(1,5) * 3  #  에러남
list(range(1,5)) * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [37]:
a = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(a[0:9:4])  #0부터 9까지 4씩증가해서 보여주기
print(a[::4])

(11, 55, 99)
(11, 55, 99)

### Dictionary

In [38]:
# ex 6-3
members = {'name' : '안지영','age':30, 'email':'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d'%len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [40]:
# 6-4
name = '안지영'
scores = {'kor':95,'eng':85,'math':90,'science':80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

print('이름 : %s'%name)
print('국어 : %d'%scores['kor'])
print('영어 : %d'%scores['eng'])
print('수학 : %d'%scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안지영
국어 : 70
영어 : 85
수학 : 90

In [41]:
# 6-5
phones = {'갤럭시 노트8': 2017, '갤럭시 S9':2018, '갤럭시 노트10':2019, '갤럭시 S20':2020}
print(phones)

for key in phones:
    print('%s => %s'%(key,phones[key]))
    
print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019
갤럭시 S20 => 2020
4

In [44]:
# Q 6-3
scores = {'김예진':90,'박영진':95, '김소희':84}
sum = 0
for key in scores :
    sum += scores[key]
    print('%s : %d'%(key,scores[key]))
    
avg = sum/len(scores)
print('합계 : %d, 평균 : %.2f'%(sum,avg))

김예진 : 90
박영진 : 95
김소희 : 84
합계 : 269, 평균 : 89.67

In [47]:
# Q 6-4
ad = {'id' : 'admin', 'password':'11111'}
in_id = input('아이디를 입력하세요 : ')
in_password = input('비밀번호를 입력하세요 : ')

if(in_id == ad['id'] and in_password == ad['password']):
    print('모든 정보에 접근 가능합니다!')
else : 
    print('정보에 접근 권한이 없습니다!')

아이디를 입력하세요 : admin
비밀번호를 입력하세요 : 11111
모든 정보에 접근 가능합니다!

In [49]:
lux1 = dict(health = 490, mana=334, melee=550, armor=18.72) 
    #dict에서 키=값 형식으로 딕셔너리를 만들 수 있습니다
lux1

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [50]:
lux2 = dict(zip(['health', 'mana', 'melee', 'armor'], [490, 334, 550, 18.72]))
lux2

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [51]:
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
    #리스트 안에 (키, 값) 형식의 튜플을 나열하는 방법입니다.
lux3

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

In [54]:
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}
'health' in lux

True

In [55]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

### 집합(set)

In [56]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits
# 세트는 요소의 순서가 정해져 있지 않습니다(unordered). 
# 집어넣은 순서대로 나오지 않는다.

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [57]:
fruits = {'orange', 'orange', 'cherry'}
fruits
# 중복은 제거된다.

{'cherry', 'orange'}

# Chapter 7. 함수

In [60]:
# ex7-1
def hello() :
    print('안녕하세요.')
hello()
hello()
hello()

안녕하세요.
안녕하세요.
안녕하세요.

In [61]:
# ex 7-2
def even_odd(num):
    if num % 2 == 0:
        print('%d은(는) 짝수이다.'%num)
    else : 
        print('%d은(는) 홀수이다.'%num)
        
even_odd(7)
even_odd(16)

7은(는) 홀수이다.
16은(는) 짝수이다.

In [21]:
def add_sub(num1, num2):
    print('덧셈', num1 + num2)
    print('뺄셈', num1 - num2)
    
add_sub(2,3)

덧셈 5
뺄셈 -1

In [62]:
# ex 7-3
def favorate_color(name, color, amount):
    if(amount == 1):
        print('%s님은 %s을 좋아하지 않습니다.'%(name,color))
    elif (amount == 2):
        print('%s님은 %s을 조금 좋아합니다.'%(name,color))
    else:
        print('%s님은 %s을 매우 좋아합니다.'%(name,color))
        
favorate_color('김지영','빨강',1)
favorate_color('홍채영','노랑',2)
favorate_color('진소진','파랑',3)

김지영님은 빨강을 좋아하지 않습니다.
홍채영님은 노랑을 조금 좋아합니다.
진소진님은 파랑을 매우 좋아합니다.

In [24]:
# 7-4
#임의의 매개변수 *를 사용 
# *scores는 호출하는 함수에서 전달하는 변수 또는 데이터의 튜플의 형태로 전달받는다.
def average(*scores):  
    sum = 0
    #for i in range(len(scores)):
        #sum += scores[i]
    for score in scores:
        sum += score
        
    avg = sum / len(scores)
    print('%d과목의 평균 : %.2f'%(len(scores),avg))
    
average(80,90,100)
average(75,80,94,78)
average(80,73,76,86,82)

3과목의 평균 : 90.00
4과목의 평균 : 81.75
5과목의 평균 : 79.40

In [35]:
y = (70, 80, 90,95)
average(*y)

4과목의 평균 : 83.75

In [20]:
# ex 7-5
def func(x):
    x = 100
    print('func() : x = ', x, ',id = ',id(x))
    
x = 10
print('메인 : x = ', x, 'id=', id(x))
func(x)
print('메인 : x = ', x, 'id = ',id(x))

메인 : x =  10 id= 140731397808816
func() : x =  100 ,id =  140731397811696
메인 : x =  10 id =  140731397808816

In [25]:
# ex 7-7
def circle(radius):
    area = 3.14 * radius * radius
    return area

radius = int(input('원의 반지름을 입력하세요 : '))
result = circle(radius)
print('반지름 : %d, 원의 면적 : %.2f'%(radius, result))

원의 반지름을 입력하세요 : 10
반지름 : 10, 원의 면적 : 314.00

In [27]:
def new_circle(radius):
    area = 3.14 * radius * radius
    circum = 2 * 3.14 *radius
    return area, circum

radius = int(input('원의 반지름을 입력하세요 : '))
res1, res2 = new_circle(radius)
print('반지름 : %d, 원의 면적 : %.2f, 원의 둘레 : %.2f'%(radius,res1,res2))

원의 반지름을 입력하세요 : 5
반지름 : 5, 원의 면적 : 78.50, 원의 둘레 : 31.40

In [31]:
def personal_info(name, age, address):
    print('이름: ', name)
    print('나이: ', age)    
    print('주소: ', address)    
    
personal_info('홍길동',30, '서울시 용산구 이촌동')
print()
personal_info(age=30, address='서울시 용산구 이촌동', name='홍길동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [34]:
x = {'age':30, 'address':'서울시 용산구 이촌동', 'name':'홍길동'}
personal_info(**x)

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [41]:
# 키워드형 가변인수
def personal_info(**kwargs):
    for kw, val in kwargs.items():
        print(kw, ': ',val,sep='')

x = {'age':30, 'address':'서울시 용산구 이촌동', 'name':'홍길동'}
personal_info(**x)

age: 30
address: 서울시 용산구 이촌동
name: 홍길동

In [42]:
# 위치형 가변인수 + 키워드형 가변인수
def custom_print(*args, **kwargs):
    print(*args, **kwargs)
    
custom_print(1, 2, 3, sep=':', end='')

1:2:3

In [43]:
# Q 7-1
def sum(start, end):
    total = 0
    for i in range(start, end+1):
        total += i
    print('%d ~ %d의 정수 합계 : %d'%(start,end,total))
    
sum(10,100)
sum(100,1000)
sum(1000,10000)

10 ~ 100의 정수 합계 : 5005
100 ~ 1000의 정수 합계 : 495550
1000 ~ 10000의 정수 합계 : 49505500

In [45]:
# Q 7-2
def sum_besu(n1,n2,num):
    sum = 0
    for i in range(n1,n2+1):
        if i % num == 0:
            sum += i
            
    return sum

start = int(input('시작 수를 입력하세요 : '))
end = int(input('끝 수를 입력하세요 : '))
besu = int(input('합계를 구할 배수를 입력하세요 : '))

result = sum_besu(start,end,besu)

print('%d ~ %d의 정수 중 %d의 배수의 합 : %d'%(start,end,besu,result))

시작 수를 입력하세요 : 10
끝 수를 입력하세요 : 100
합계를 구할 배수를 입력하세요 : 5
10 ~ 100의 정수 중 5의 배수의 합 : 1045

In [46]:
# 7-3
def computeMaxGang(x,y):
    if x>y:
        small = y
    else:
        small = x
    
    for i in range(1, small+1):
        if((x % i == 0) and (y % i == 0)):
            result = i
    return result

num1 = int(input("첫번째 수를 입력하세요 : "))
num2 = int(input("두번째 수를 입력하세요 : "))

max_gong = computeMaxGang(num1,num2)

print('%d과(와) %d의 최대공약수 : %d'%(num1, num2,max_gong))

첫번째 수를 입력하세요 : 33
두번째 수를 입력하세요 : 44
33과(와) 44의 최대공약수 : 11

In [7]:
# 완전수 구하기 답은4 1부터 10000까지 ex) 6 -> 1,2,3,6  1+2+3 = 6
    
def sum_yaksu(n):
    sum = 0
    for i in range(1,n):
        if n % i == 0:
            sum += i
    return sum

 
def wonjeansu(start,end):
    for i in range(start,end+1):
        if i == sum_yaksu(i):
            print(i)

print(wonjeansu(1,10000))

6
28
496
8128
None

In [5]:
# 7-8
x = lambda a : a **2
print(x(5))
print(x(10))

25
100

In [9]:
# 7-10
def func() :      # 지역변수 xx는 func()내에서만 유효
    xx = 10
    print(xx)
    
func()
func(xx)

10

NameError: name 'xx' is not defined

In [10]:
# ex 7-11
def func():
    print(x)
    print(id(x))
    
x = 10
print(x)
print(id(x))
func()

10
140731397808816
10
140731397808816

## File 입출력

In [11]:
# 7-14
file = open('sample.txt','w', encoding='utf8')
file.write('안녕하세요. 반갑습니다.')
file.close()
print('파일 쓰기 완료!')

파일 쓰기 완료!

In [12]:
file = open('sample.txt','a', encoding='utf8')
file.write('안녕하세요. 반갑습니다.')
file.close()
print('파일 쓰기 완료!')

파일 쓰기 완료!

In [13]:
# 7-15
scores = ['김소영 82 80 93 97 93 88',
         '정예린 86 100 93 86 90 77',
         '이세영 91 88 99 79 92 68',
         '정수정 86 100 93 89 92 93',
         '박지수 80 100 95 89 90 84']
data=''
for item in scores :
    data += item + '\n'
    
file = open('scores.txt','w',encoding='utf8')
file.write(data)
file.close()

In [15]:
# 7-16
file = open('scores.txt', 'r', encoding = 'utf8')
lines = file.readlines()

print('scores.txt 파일의 내용 : ')
for line in lines :
    print(line, end='')
    
file.close()

print(lines)

scores.txt 파일의 내용 :
김소영 82 80 93 97 93 88
정예린 86 100 93 86 90 77
이세영 91 88 99 79 92 68
정수정 86 100 93 89 92 93
박지수 80 100 95 89 90 84
['김소영 82 80 93 97 93 88\n', '정예린 86 100 93 86 90 77\n', '이세영 91 88 99 79 92 68\n', '정수정 86 100 93 89 92 93\n', '박지수 80 100 95 89 90 84\n']

In [16]:
capital = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
'a' in capital

False