# Chapter 5. 리스트

In [7]:
# ex 5-1
fruits = ['사과','오렌지','딸기','포도','감','키위','멜론','수박']
list1 = [5, 10.2, '탁구',True,[4,5,6]]
numbers = list(range(1,10,2))

print(fruits)
print(list)
print(numbers)

print()
print(fruits[0])
print(fruits[1:4])
print(fruits[2:])
print(fruits[-1])
print(fruits[-1:])
print(fruits[-4:-2])
print(fruits[-3:])

['사과', '오렌지', '딸기', '포도', '감', '키위', '멜론', '수박']
<class 'list'>
[1, 3, 5, 7, 9]

사과
['오렌지', '딸기', '포도']
['딸기', '포도', '감', '키위', '멜론', '수박']
수박
['수박']
['감', '키위']
['키위', '멜론', '수박']

In [6]:
# ex 5-2
a = ['red','green','blue']
a.append('yellow')
print(a)

a.insert(1,'black')
print(a)

b = ['purple','white']
a.extend(b)
print(a)

c = a + b
print(c)

['red', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white']
['red', 'black', 'green', 'blue', 'yellow', 'purple', 'white', 'purple', 'white']

In [9]:
# ex 5-3
a = [10,20,30,40,50,60,70,80,90,100]
x = a.index(30)
print(x)

a.pop(x)
print(a)

a.clear()
print(a)

2
[10, 20, 40, 50, 60, 70, 80, 90, 100]
[]

In [10]:
# ex 5-4
list1 = ['a','bb','c','d','aaa','c','ddd','aaa','b','cc','d','aaa',]
length = list1.count('aaa')  #aaa값을 가진 요소의 개수

print(length)

3

In [12]:
# ex 5-5
list2 = [-7,1,5,8,3,9,11,13]
list2.sort()    #오름차순
print(list2)

list2.sort(reverse=True)  #내림차순
print(list2)

[-7, 1, 3, 5, 8, 9, 11, 13]
[13, 11, 9, 8, 5, 3, 1, -7]

In [14]:
# Q 5-1
color = ['red','green','blue','black','white']
print(color[0])
print(color[-1])
print(color[1:-1])

red
white
['green', 'blue', 'black']

In [15]:
# Q 5-2
num = list(range(1,20,2))
print(num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
# Q 5-3
mylist = ['사과','바나나','파인애플','배']
mylist.append('키위')

for a in mylist:   #mylist만 적으면 됨 ....range X
    print(a)

사과
바나나
파인애플
배
키위

In [21]:
# Q 5-4
mylist = ['사과','바나나','파인애플','포도','오렌지','배']
mylist.remove('바나나')  ############
print(mylist)

['사과', '파인애플', '포도', '오렌지', '배']

In [32]:
# Q 5-5
person1 = ['kim',24,'kim@naver.com']
person2 = ['lee', 35, 'lee@hanmail.net']

person = person1+person2
print(person)

['kim', 24, 'kim@naver.com', 'lee', 35, 'lee@hanmail.net']

In [37]:
# ex 5-6
fruits = ['apple','orange','banana']

for fruit in fruits :
    print(fruit)

apple
orange
banana

In [38]:
# ex 5-7
scores = [88,75,90,95,77,69,80,92]

sum = 0;
for score in scores:
    sum += score
    
avg = sum/8

print('총점 : %d, 평균 : %.2f'%(sum,avg))

총점 : 666, 평균 : 83.25

In [42]:
# ex 5-9
numbers = [[10,20,30],[40,50,60]]

print(numbers[0])
print(numbers[1])
print(numbers[0][0])
print(numbers[0][1])
print(numbers[0][2])
print(numbers[1][0])
print(numbers[1][1])
print(numbers[1][2])

print()
print(len(numbers))
print(len(numbers[0]))

[10, 20, 30]
[40, 50, 60]
10
20
30
40
50
60

2
3

In [44]:
# ex 5-10
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],\
          [90,76,91],[82,66,88],[83,86,79],[85,90,83]]

for i in range(len(scores)):
    sum = 0
    for j in range(len(scores[i])):
        sum = sum + scores[i][j]
    avg = sum/len(scores[i])
    
    print('%d번째 학생의 합계 : %d, 평균 : %.2f'%(i+1,sum,avg))

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00

In [ ]:
# Q 5 - 8
scores = [[96,84,80],[96,86,76],[76,95,83],[89,96,69],\
          [90,76,91],[82,66,88],[83,86,79],[85,90,83]]

i = 0     #초기화해주기!!
while i < len(scores):
    sum = 0
    j = 0
    while j < len(scores[i]):
        sum = sum + scores[i][j]
        j += 1
        
    avg = sum/len(scores[i])
    print('%d번째 학생의 합계 : %d, 평균 : %.2f'%(i+1, sum, avg))
    i += 1

In [2]:
# Q 5-9
scores = []

while True :
    score = int(input('성적을 입력하세요(종료시 -1입력): '))
    
    if score == -1:
        break
    else:
        scores.append(score)
        
sum = 0
for i in range(0,len(scores)):
    sum += scores[i]
        
avg = sum / len(scores)
    
print('합계 : %d, 평균 : %.2f'%(sum,avg))

성적을 입력하세요(종료시 -1입력): 75
성적을 입력하세요(종료시 -1입력): 83
성적을 입력하세요(종료시 -1입력): 88
성적을 입력하세요(종료시 -1입력): 93
성적을 입력하세요(종료시 -1입력): 97
성적을 입력하세요(종료시 -1입력): -1
합계 : 436, 평균 : 87.20

In [4]:
# Q 5-10
seats = [[0,0,0,0,0,0,0,0,0,0],\
        [0,0,0,0,0,0,0,0,0,0],\
        [0,0,0,0,0,0,0,0,0,0],\
        [1,1,1,0,0,0,0,0,1,0],\
        [0,0,0,0,0,1,0,0,0,0],\
        [0,1,0,0,0,1,0,1,0,0],\
        [0,0,0,0,0,0,1,0,0,0],\
         [1,0,1,0,0,0,0,0,0,1]]

for i in range(len(seats)):
    for j in range(len(seats[i])):
        if seats[i][j] == 0:
            print('%3s'%'□',end='')
        else:
            print('%3s'%'■',end='')
    print()
print('\n ※예약 가능 : ■, 예약불가 :□')

  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  □  □  □  □  □  □  □  □  □  □
  ■  ■  ■  □  □  □  □  □  ■  □
  □  □  □  □  □  ■  □  □  □  □
  □  ■  □  □  □  ■  □  ■  □  □
  □  □  □  □  □  □  ■  □  □  □
  ■  □  ■  □  □  □  □  □  □  ■

 ※예약 가능 : ■, 예약불가 :□

In [5]:
a = []
for i in range(1,6):
    a.append(i*i)
print(a)

[1, 4, 9, 16, 25]

In [6]:
a = [i * i for i in range(1,6)]
print(a)   #윗 칸과 같은 것

[1, 4, 9, 16, 25]

In [9]:
b = []
for i in range(1,10,2):
    b.append(i*i)
print(b)

[1, 9, 25, 49, 81]

In [8]:
b = [i * i for i in range(1,10) if i % 2 == 0]
print(b)   #윗 칸과 같은 것

[4, 16, 36, 64]

In [10]:
gugudan = [i*k for i in range(2,10)
               for k in range(1,10)]
print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# 함수 결과

In [11]:
'I love you'.split(' ')   #함수결과가 리스트로 나온다

['I', 'love', 'you']