# SQLite3 훈련

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./test.db')

In [3]:
cur = conn.cursor()
cur.execute('SELECT * FROM eagles')
rows = cur.fetchall()

In [4]:
rows

[(1, 57, '정우람', '투수'),
 (2, 28, '장시환', '투수'),
 (3, 3, '노태형', '내야수'),
 (4, 13, '최재훈', '포수'),
 (5, 52, '김태균', '내이수'),
 (6, 43, '정은원', '내야수'),
 (7, 19, '이용규', '외야수'),
 (8, 44, '서폴드', '투수'),
 (9, 30, '호잉', '외야수'),
 (10, 27, '이해창', '포수')]

In [5]:
cur.execute("SELECT * FROM eagles WHERE position='투수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
            print(pitcher)

(1, 57, '정우람', '투수')
(2, 28, '장시환', '투수')
(8, 44, '서폴드', '투수')

### 데이터 추가

In [6]:
cur.execute("INSERT INTO eagles(back_no, name, position) VALUES(1,'하주석','내야수')")

In [7]:
cur.execute("SELECT * FROM eagles WHERE position='내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
            print(pitcher)

(3, 3, '노태형', '내야수')
(6, 43, '정은원', '내야수')
(11, 1, '하주석', '내야수')

In [8]:
## DB에 반영 
conn.commit()

In [9]:
# 파리메터 : 튜플을 사용해서 전달
back_no=25
name = '최진행'
position = '외야수'
sql = "INSERT INTO eagles(back_no, name, position) VALUES(?, ?, ?)"
cur.execute(sql, (back_no, name, position))
conn.commit()

In [10]:
# 튜플 리스트 사용 *************************************
players = [(38, '안영명','투수'),(54, '서균', '투수')]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [11]:
# excutmany 사용
players = [(48,'벨','투수'),(53,'김민우','투수')]
cur.executemany(sql, players)
conn.commit()

### 데이터 조회

In [39]:
# 순회 조회
sql = "SELECT * FROM eagles where position = '포수'"
cur.execute(sql)
for result in cur:
    print(result)

(4, 13, '최재훈', '포수')
(10, 27, '이해창', '포수')

In [40]:
# 한 건 조회 *************************************  #많이쓰임
cur.execute(sql)
result = cur.fetchone()  #fetchone()은 한번에 하나씩 가져옴
print(result)

(4, 13, '최재훈', '포수')

In [42]:
result = cur.fetchone()  
print(result)

(10, 27, '이해창', '포수')

In [43]:
# 갯수 지정 조회
sql = "SELECT * FROM eagles where position = '투수'"
cur.execute(sql)
results = cur.fetchmany(3)  # 다건 조회
results

[(1, 57, '정우람', '투수'), (2, 28, '장시환', '투수'), (8, 44, '서폴드', '투수')]

In [48]:
# 전부 조회 *************************************
sql = "SELECT * FROM eagles where position = '내야수'"
cur.execute(sql)
results = cur.fetchall()  # 모두 조회
results

[(3, 3, '노태형', '내야수'), (6, 43, '정은원', '내야수'), (13, 1, '하주석', '내야수')]

In [12]:
# 필요한 컬럼만 조회
sql = "select back_no, name from eagles where back_no > 20"
cur.execute(sql)
results = cur.fetchall()
results

[(57, '정우람'),
 (28, '장시환'),
 (52, '김태균'),
 (43, '정은원'),
 (44, '서폴드'),
 (30, '호잉'),
 (27, '이해창'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '벨'),
 (53, '김민우')]

In [15]:
# 백넘버가 30~39 까지인 선수
sql = "select * from eagles where back_no between 20 and 39"
cur.execute(sql)
results = cur.fetchall()
results

[(2, 28, '장시환', '투수'),
 (9, 30, '호잉', '외야수'),
 (10, 27, '이해창', '포수'),
 (12, 25, '최진행', '외야수'),
 (13, 38, '안영명', '투수')]

In [16]:
# 백넘보가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
result = cur.fetchone()
result

(1, 57, '정우람', '투수')

In [18]:
# 포지션별 사람수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
result = cur.fetchall()
result

[('내야수', 4), ('외야수', 3), ('투수', 7), ('포수', 2)]

### 검색

In [20]:
# back_no가 57번인 선수는?
back_no = 57
sql = "select * from eagles where back_no = ?"
cur.execute(sql, (back_no,))  #(back_no,)  ->튜플로 만들어서 줘야함
result = cur.fetchone()
result

(1, 57, '정우람', '투수')

###  데이터 변경

In [22]:
# id가 11인 하주석 선수의 포지션을 외야수로 변경
id_ = 11
position = '외야수'
sql = "UPDATE eagles SET position = ? WHERE id = ?"
cur.execute(sql, (position, id_))
conn.commit()

### 데이터 삭제

In [23]:
sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id_,))
conn.commit()