# 연습문제

###  1) 국내의 대표적인 걸그룹 또는 보이그룹 5개 이상에 대하여 다음과 같은 정보를 갖는 테이블을 만드시오.   \*는 Primary Keyid(*), group_name, 구성원 수, 데뷔일자, 소속사

### 2) 이들이 불렀던 노래 또는 다른 사람이 불렀던 노래 10곡 이상에 대하여 다음의 정보를 갖는 테이블을 만드시오.song_id(*), song_name, 그룹 id, 발표년도, 작곡가, 도입부 가사

###  3)위 두개의 테이블을 조인한 결과를 가지고 다음의 필드를 갖는 데이터 프레임을 만드시오.그룹 이름, 구성원 수, 데뷔 일자, 노래 이름, 발표 년도

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('./test.db')

In [10]:
cur = conn.cursor()
cur.execute("select  g.name, g.member_no, g.debut, s.song, s.year \
            from idol_group as g,idol_song as s \
            where g.id = s.gid")
rows = cur.fetchall()
rows

[('방탄소년단', 7, '2013-06-13', '작은 것들을 위한 시', 2019),
 ('방탄소년단', 7, '2013-06-13', 'FAKE LOVE', 2018),
 ('마마무', 4, '2014-06-19', '넌 is 뭔들', 2016),
 ('마마무', 4, '2014-06-19', '음오아예 (Um Oh Ah Yeh)', 2015),
 ('엑소', 9, '2012-04-08', '으르렁', 2013),
 ('엑소', 9, '2012-04-08', 'MAMA', 2012),
 ('트와이스', 9, '2015-10-20', 'CHEER UP', 2016),
 ('트와이스', 9, '2015-10-20', 'TT', 2016)]

In [9]:
cur = conn.cursor()
cur.execute("select  g.name, g.member_no, g.debut, s.song, s.year \
    from idol_group as g \
    inner join idol_song as s \
    on g.id = s.gid")
rows = cur.fetchall()
rows

[('방탄소년단', 7, '2013-06-13', '작은 것들을 위한 시', 2019),
 ('방탄소년단', 7, '2013-06-13', 'FAKE LOVE', 2018),
 ('마마무', 4, '2014-06-19', '넌 is 뭔들', 2016),
 ('마마무', 4, '2014-06-19', '음오아예 (Um Oh Ah Yeh)', 2015),
 ('엑소', 9, '2012-04-08', '으르렁', 2013),
 ('엑소', 9, '2012-04-08', 'MAMA', 2012),
 ('트와이스', 9, '2015-10-20', 'CHEER UP', 2016),
 ('트와이스', 9, '2015-10-20', 'TT', 2016)]

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(rows)

In [7]:
df

       0  1           2                    3     4
0  방탄소년단  7  2013-06-13          작은 것들을 위한 시  2019
1  방탄소년단  7  2013-06-13            FAKE LOVE  2018
2    마마무  4  2014-06-19              넌 is 뭔들  2016
3    마마무  4  2014-06-19  음오아예 (Um Oh Ah Yeh)  2015
4     엑소  9  2012-04-08                  으르렁  2013
5     엑소  9  2012-04-08                 MAMA  2012
6   트와이스  9  2015-10-20             CHEER UP  2016
7   트와이스  9  2015-10-20                   TT  2016

In [8]:
df.columns = ["그룹 이름", "구성원 수", "데뷔 일자", "노래 이름", "발표 년도"]
df

   그룹 이름  구성원 수       데뷔 일자                노래 이름  발표 년도
0  방탄소년단      7  2013-06-13          작은 것들을 위한 시   2019
1  방탄소년단      7  2013-06-13            FAKE LOVE   2018
2    마마무      4  2014-06-19              넌 is 뭔들   2016
3    마마무      4  2014-06-19  음오아예 (Um Oh Ah Yeh)   2015
4     엑소      9  2012-04-08                  으르렁   2013
5     엑소      9  2012-04-08                 MAMA   2012
6   트와이스      9  2015-10-20             CHEER UP   2016
7   트와이스      9  2015-10-20                   TT   2016

In [11]:
conn.close()